## Exercise day 3

In [1]:
print("...........................Exercise Level 1 (Q. 1)............................")
tpl = ()
print ('Empty Tuple :', tpl)

...........................Exercise Level 1 (Q. 1)............................
('Empty Tuple :', ())

In [2]:
print("............................................(Q. 2)............................")
male_siblings = ('Sadiq', 'Mubarak', 'Almiin', 'Abbakar')
female_siblings = ('Zainab', 'Mumcy')
print(male_siblings)
print(female_siblings)

............................................(Q. 2)............................
('Sadiq', 'Mubarak', 'Almiin', 'Abbakar')
('Zainab', 'Mumcy')

In [3]:
print("............................................(Q. 3)............................")
siblings = male_siblings + female_siblings
print("My Siblings are:", siblings)

............................................(Q. 3)............................
('My Siblings are:', ('Sadiq', 'Mubarak', 'Almiin', 'Abbakar', 'Zainab', 'Mumcy'))

In [4]:
print("............................................(Q. 4)............................")
no_of_siblings = len(siblings)
print(no_of_siblings)

............................................(Q. 4)............................
6

In [5]:
print("............................................(Q. 5)............................")
father_name = "Usman"
mother_name = "Hauwa"
family_members = siblings + (father_name, mother_name)
print(family_members)

............................................(Q. 5)............................
('Sadiq', 'Mubarak', 'Almiin', 'Abbakar', 'Zainab', 'Mumcy', 'Usman', 'Hauwa')

In [6]:
print("...........................Exercise Level 1 (Q. 2)............................")

print("............................................(Q. 1)............................")
siblings, parents = family_members[:7], family_members[7:]
print("Siblings:", siblings)
print("Parents:", parents)

...........................Exercise Level 1 (Q. 2)............................
............................................(Q. 1)............................
('Siblings:', ('Sadiq', 'Mubarak', 'Almiin', 'Abbakar', 'Zainab', 'Mumcy', 'Usman'))
('Parents:', ('Hauwa',))

In [7]:
print("............................................(Q. 2)............................")
fruits = ('apple', 'banana', 'peach')
vegetables = ('carrot', 'lettuce', 'spinach')
animal_products = ('milk', 'cheese', 'eggs')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

............................................(Q. 2)............................
('apple', 'banana', 'peach', 'carrot', 'lettuce', 'spinach', 'milk', 'cheese', 'eggs')

In [8]:
print("............................................(Q. 3)............................")
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

............................................(Q. 3)............................
['apple', 'banana', 'peach', 'carrot', 'lettuce', 'spinach', 'milk', 'cheese', 'eggs']

In [9]:
print("............................................(Q. 4)............................")
food_stuff_tp = fruits + vegetables + animal_products
middle_items_tp = food_stuff_tp[len(food_stuff_tp)//2-1:len(food_stuff_tp)//2+2]
print(middle_items_tp)

............................................(Q. 4)............................
('carrot', 'lettuce', 'spinach')

In [10]:
print("............................................(Q. 5)............................")
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)

............................................(Q. 5)............................

In [11]:
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print("First three items:", first_three)
print("Last three items:", last_three)

('First three items:', ['apple', 'banana', 'peach'])
('Last three items:', ['milk', 'cheese', 'eggs'])

In [12]:
print("............................................(Q. 6)............................")
food_stuff_tp = fruits + vegetables + animal_products
del food_stuff_tp

............................................(Q. 6)............................

In [14]:
print("............................................(Q. 7)............................")
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

if 'Estonia' in nordic_countries:
    print("Estonia is a nordic country.")
else:
    print("Estonia is not a nordic country.")

if 'Iceland' in nordic_countries:
    print("Iceland is a nordic country.")
else:
    print("Iceland is not a nordic country.")

............................................(Q. 7)............................
Estonia is not a nordic country.
Iceland is a nordic country.