## Exercise day 8

In [1]:
print("...........................Exercise Level 1 (Q. 1)............................")
dog = {}
print(dog)

...........................Exercise Level 1 (Q. 1)............................
{}

In [2]:
print("............................................(Q. 2)............................")
dog = {'color', 'breed', 'legs', 'age'}
print (dog)

............................................(Q. 2)............................
set(['color', 'legs', 'age', 'breed'])

In [3]:
print("............................................(Q. 3)............................")
student = {
    'first_name': 'Fatima',
    'last_name': 'Usman',
    'gender': 'Female',
    'age': 26,
    'marital_status': 'Married',
    'skills': ['Python'],
    'country': 'Nigeria',
    'city': 'Hadejia',
    'address': 'GRA Hadejia'
}
print(student)

............................................(Q. 3)............................
{'city': 'Hadejia', 'first_name': 'Fatima', 'last_name': 'Usman', 'country': 'Nigeria', 'skills': ['Python'], 'gender': 'Female', 'age': 26, 'marital_status': 'Married', 'address': 'GRA Hadejia'}

In [4]:
print("............................................(Q. 4)............................")
students_length = len(student)
print(students_length)

............................................(Q. 4)............................
9

In [5]:
print("............................................(Q. 5)............................")
skills = student['skills']
print(skills)
print(type(skills))

............................................(Q. 5)............................
['Python']
<type 'list'>

In [6]:
print("............................................(Q. 6)............................")
student['skills'] = 'Data Visualization', 'SQL'
print(student['skills'])

............................................(Q. 6)............................
('Data Visualization', 'SQL')

In [7]:
print("............................................(Q. 8)............................")
student_keys = list(student.keys())
print(student_keys)

............................................(Q. 8)............................
['city', 'first_name', 'last_name', 'country', 'skills', 'gender', 'age', 'marital_status', 'address']

In [8]:
print("............................................(Q. 9)............................")
student_values = list(student.values())
print(student_values)

............................................(Q. 9)............................
['Hadejia', 'Fatima', 'Usman', 'Nigeria', ('Data Visualization', 'SQL'), 'Female', 26, 'Married', 'GRA Hadejia']

In [9]:
print("............................................(Q. 10)............................")
student_list = list(student.items())
print(student_list)

............................................(Q. 10)............................
[('city', 'Hadejia'), ('first_name', 'Fatima'), ('last_name', 'Usman'), ('country', 'Nigeria'), ('skills', ('Data Visualization', 'SQL')), ('gender', 'Female'), ('age', 26), ('marital_status', 'Married'), ('address', 'GRA Hadejia')]

In [10]:
print("............................................(Q. 11)............................")
del student['address']
print(student)

............................................(Q. 11)............................
{'city': 'Hadejia', 'first_name': 'Fatima', 'last_name': 'Usman', 'country': 'Nigeria', 'skills': ('Data Visualization', 'SQL'), 'gender': 'Female', 'age': 26, 'marital_status': 'Married'}

In [11]:
print("............................................(Q. 11)............................")
del dog

............................................(Q. 11)............................